In [1]:
! pip install -r requirements.txt

Requirement already satisfied: seaborn in ./.venv/lib/python3.10/site-packages (from -r requirements.txt (line 1)) (0.13.2)
Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (from -r requirements.txt (line 2)) (2.2.2)
Requirement already satisfied: numpy in ./.venv/lib/python3.10/site-packages (from -r requirements.txt (line 3)) (2.0.1)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.10/site-packages (from -r requirements.txt (line 4)) (3.9.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 2)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 2)) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.2.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (24.1)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (3.1.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.16.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import glob
from collections import defaultdict
warnings.filterwarnings('ignore')

In [3]:
path =  "./data"
relPathApart =  f"{path}/apartment"
relPathWeather = f"{path}/apartment-weather"
year = 2016
aptNum = 114
startDate = '2016-02-01'
endDate = '2016-03-03'

In [4]:
! mkdir -p "./data"
! wget -nc "https://lass.cs.umass.edu/smarttraces/2017/apartment-electrical.tar.gz" -P "./data"
! wget -nc "https://lass.cs.umass.edu/smarttraces/2017/apartment-weather.tar.gz" -P "./data"

File ‘./data/apartment-electrical.tar.gz’ already there; not retrieving.

File ‘./data/apartment-weather.tar.gz’ already there; not retrieving.

In [5]:
! tar -xf "./data/apartment-electrical.tar.gz" -C "./data"
! tar -xf "./data/apartment-weather.tar.gz" -C "./data"

In [23]:
apartDfs = []
allFiles = glob.glob(f"{relPathApart}/{year}/*.csv")
for fileName in allFiles:
  df = pd.read_csv(fileName, parse_dates=[1], header=None, names=['date', 'power'])
  df["power"] = df["power"].astype(float)
  apartDfs.append(df)

print(apartDfs)

[                       date     power
0       2016-01-01 00:00:00  1.504383
1       2016-01-01 00:01:00  1.505133
2       2016-01-01 00:02:00  1.489983
3       2016-01-01 00:03:00  1.487867
4       2016-01-01 00:04:00  1.492550
...                     ...       ...
522610  2016-12-28 22:10:00  0.653800
522611  2016-12-28 22:11:00  0.654717
522612  2016-12-28 22:12:00  0.655417
522613  2016-12-28 22:13:00  0.655700
522614  2016-12-28 22:14:00  0.655083

[522615 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.515700
1       2016-01-01 00:01:00  1.291667
2       2016-01-01 00:02:00  2.297633
3       2016-01-01 00:03:00  2.298883
4       2016-01-01 00:04:00  2.296400
...                     ...       ...
503785  2016-12-15 20:25:00  9.448017
503786  2016-12-15 20:26:00  9.449933
503787  2016-12-15 20:27:00  9.393133
503788  2016-12-15 20:28:00  8.602283
503789  2016-12-15 20:29:00  6.881683

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  2.629350
1       2016-01-01 00:01:00  2.628367
2       2016-01-01 00:02:00  2.601333
3       2016-01-01 00:03:00  2.025600
4       2016-01-01 00:04:00  0.053717
...                     ...       ...
522610  2016-12-28 22:10:00  0.101483
522611  2016-12-28 22:11:00  0.101217
522612  2016-12-28 22:12:00  0.101000
522613  2016-12-28 22:13:00  0.100467
522614  2016-12-28 22:14:00  0.038783

[522615 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.684150
1       2016-01-01 00:01:00  0.682950
2       2016-01-01 00:02:00  0.682983
3       2016-01-01 00:03:00  0.682383
4       2016-01-01 00:04:00  0.682283
...                     ...       ...
503770  2016-12-15 20:10:00  0.634417
503771  2016-12-15 20:11:00  1.914167
503772  2016-12-15 20:12:00  3.837700
503773  2016-12-15 20:13:00  4.717600
503774  2016-12-15 20:14:00  4.715683

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  7.557183
1       2016-01-01 00:01:00  2.948683
2       2016-01-01 00:02:00  2.954883
3       2016-01-01 00:03:00  2.957850
4       2016-01-01 00:04:00  2.958983
...                     ...       ...
503665  2016-12-15 18:25:00  1.592083
503666  2016-12-15 18:26:00  1.594767
503667  2016-12-15 18:27:00  1.596517
503668  2016-12-15 18:28:00  1.596550
503669  2016-12-15 18:29:00  1.596967

[503670 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.007833
1       2016-01-01 00:01:00  0.007867
2       2016-01-01 00:02:00  0.007783
3       2016-01-01 00:03:00  0.007850
4       2016-01-01 00:04:00  0.008133
...                     ...       ...
503755  2016-12-15 19:55:00  2.440450
503756  2016-12-15 19:56:00  2.441550
503757  2016-12-15 19:57:00  2.440967
503758  2016-12-15 19:58:00  2.442050
503759  2016-12-15 19:59:00  2.442400

[503760 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.102033
1       2016-01-01 00:01:00  0.086033
2       2016-01-01 00:02:00  0.007583
3       2016-01-01 00:03:00  0.007683
4       2016-01-01 00:04:00  0.007600
...                     ...       ...
503755  2016-12-15 19:55:00  0.392250
503756  2016-12-15 19:56:00  0.392533
503757  2016-12-15 19:57:00  0.391983
503758  2016-12-15 19:58:00  0.391817
503759  2016-12-15 19:59:00  0.391700

[503760 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.422650
1       2016-01-01 00:01:00  0.524150
2       2016-01-01 00:02:00  0.540517
3       2016-01-01 00:03:00  0.538867
4       2016-01-01 00:04:00  0.540550
...                     ...       ...
503770  2016-12-15 20:10:00  3.130550
503771  2016-12-15 20:11:00  3.766883
503772  2016-12-15 20:12:00  4.960550
503773  2016-12-15 20:13:00  4.516517
503774  2016-12-15 20:14:00  4.721267

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.391550
1       2016-01-01 00:01:00  0.391717
2       2016-01-01 00:02:00  0.391767
3       2016-01-01 00:03:00  0.392400
4       2016-01-01 00:04:00  0.392933
...                     ...       ...
503770  2016-12-15 20:10:00  3.206850
503771  2016-12-15 20:11:00  3.794183
503772  2016-12-15 20:12:00  5.099933
503773  2016-12-15 20:13:00  5.093367
503774  2016-12-15 20:14:00  5.000183

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  3.312250
1       2016-01-01 00:01:00  3.307983
2       2016-01-01 00:02:00  3.297400
3       2016-01-01 00:03:00  3.219400
4       2016-01-01 00:04:00  1.650400
...                     ...       ...
503770  2016-12-15 20:10:00  3.182300
503771  2016-12-15 20:11:00  3.166117
503772  2016-12-15 20:12:00  3.165367
503773  2016-12-15 20:13:00  3.166700
503774  2016-12-15 20:14:00  3.118783

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  8.607767
1       2016-01-01 00:01:00  8.890267
2       2016-01-01 00:02:00  8.667133
3       2016-01-01 00:03:00  7.768917
4       2016-01-01 00:04:00  7.773017
...                     ...       ...
503770  2016-12-15 20:10:00  0.642267
503771  2016-12-15 20:11:00  0.642200
503772  2016-12-15 20:12:00  0.640183
503773  2016-12-15 20:13:00  0.638700
503774  2016-12-15 20:14:00  0.546383

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  2.673683
1       2016-01-01 00:01:00  2.669417
2       2016-01-01 00:02:00  2.666317
3       2016-01-01 00:03:00  2.667933
4       2016-01-01 00:04:00  2.669550
...                     ...       ...
503785  2016-12-15 20:25:00  2.973333
503786  2016-12-15 20:26:00  2.936083
503787  2016-12-15 20:27:00  2.929683
503788  2016-12-15 20:28:00  2.924533
503789  2016-12-15 20:29:00  2.922167

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  2.219117
1       2016-01-01 00:01:00  2.219833
2       2016-01-01 00:02:00  2.221433
3       2016-01-01 00:03:00  2.227000
4       2016-01-01 00:04:00  2.217883
...                     ...       ...
503785  2016-12-15 20:25:00  3.288900
503786  2016-12-15 20:26:00  3.245533
503787  2016-12-15 20:27:00  3.237267
503788  2016-12-15 20:28:00  3.230433
503789  2016-12-15 20:29:00  3.226900

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.030700
1       2016-01-01 00:01:00  0.030750
2       2016-01-01 00:02:00  0.031067
3       2016-01-01 00:03:00  1.219817
4       2016-01-01 00:04:00  2.702917
...                     ...       ...
503770  2016-12-15 20:10:00  0.843950
503771  2016-12-15 20:11:00  2.469283
503772  2016-12-15 20:12:00  2.709633
503773  2016-12-15 20:13:00  2.703850
503774  2016-12-15 20:14:00  4.925933

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.389117
1       2016-01-01 00:01:00  0.390167
2       2016-01-01 00:02:00  0.390433
3       2016-01-01 00:03:00  0.390667
4       2016-01-01 00:04:00  2.291800
...                     ...       ...
503785  2016-12-15 20:25:00  0.899067
503786  2016-12-15 20:26:00  0.051983
503787  2016-12-15 20:27:00  0.052150
503788  2016-12-15 20:28:00  0.052250
503789  2016-12-15 20:29:00  0.052217

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.565100
1       2016-01-01 00:01:00  0.069267
2       2016-01-01 00:02:00  0.041333
3       2016-01-01 00:03:00  0.041233
4       2016-01-01 00:04:00  0.041117
...                     ...       ...
503785  2016-12-15 20:25:00  2.731883
503786  2016-12-15 20:26:00  4.960533
503787  2016-12-15 20:27:00  4.951683
503788  2016-12-15 20:28:00  4.918867
503789  2016-12-15 20:29:00  4.935467

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.620383
1       2016-01-01 00:01:00  0.621067
2       2016-01-01 00:02:00  1.992683
3       2016-01-01 00:03:00  2.536700
4       2016-01-01 00:04:00  2.540217
...                     ...       ...
503785  2016-12-15 20:25:00  4.984300
503786  2016-12-15 20:26:00  4.987900
503787  2016-12-15 20:27:00  4.997633
503788  2016-12-15 20:28:00  4.395950
503789  2016-12-15 20:29:00  2.539733

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  8.554017
1       2016-01-01 00:01:00  9.059300
2       2016-01-01 00:02:00  8.795800
3       2016-01-01 00:03:00  8.963967
4       2016-01-01 00:04:00  8.886533
...                     ...       ...
503770  2016-12-15 20:10:00  1.218083
503771  2016-12-15 20:11:00  2.523983
503772  2016-12-15 20:12:00  2.211983
503773  2016-12-15 20:13:00  5.064150
503774  2016-12-15 20:14:00  4.999567

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  1.984467
1       2016-01-01 00:01:00  1.988133
2       2016-01-01 00:02:00  0.784950
3       2016-01-01 00:03:00  0.147167
4       2016-01-01 00:04:00  0.146967
...                     ...       ...
503770  2016-12-15 20:10:00  2.562817
503771  2016-12-15 20:11:00  2.556767
503772  2016-12-15 20:12:00  2.555367
503773  2016-12-15 20:13:00  2.559133
503774  2016-12-15 20:14:00  2.558117

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.128867
1       2016-01-01 00:01:00  0.128883
2       2016-01-01 00:02:00  0.129017
3       2016-01-01 00:03:00  0.128983
4       2016-01-01 00:04:00  0.128983
...                     ...       ...
503770  2016-12-15 20:10:00  0.794700
503771  2016-12-15 20:11:00  2.986150
503772  2016-12-15 20:12:00  2.981433
503773  2016-12-15 20:13:00  2.423700
503774  2016-12-15 20:14:00  0.379983

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.027517
1       2016-01-01 00:01:00  0.027750
2       2016-01-01 00:02:00  0.027733
3       2016-01-01 00:03:00  0.027617
4       2016-01-01 00:04:00  0.027517
...                     ...       ...
503785  2016-12-15 20:25:00  0.633000
503786  2016-12-15 20:26:00  0.570750
503787  2016-12-15 20:27:00  0.397400
503788  2016-12-15 20:28:00  0.880500
503789  2016-12-15 20:29:00  2.114233

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  1.983483
1       2016-01-01 00:01:00  1.983283
2       2016-01-01 00:02:00  2.342567
3       2016-01-01 00:03:00  2.387450
4       2016-01-01 00:04:00  2.386500
...                     ...       ...
503770  2016-12-15 20:10:00  1.248483
503771  2016-12-15 20:11:00  1.247650
503772  2016-12-15 20:12:00  1.249117
503773  2016-12-15 20:13:00  1.251383
503774  2016-12-15 20:14:00  1.249800

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  3.914783
1       2016-01-01 00:01:00  3.829583
2       2016-01-01 00:02:00  3.886117
3       2016-01-01 00:03:00  3.845867
4       2016-01-01 00:04:00  3.419300
...                     ...       ...
503770  2016-12-15 20:10:00  0.544800
503771  2016-12-15 20:11:00  0.542850
503772  2016-12-15 20:12:00  0.542800
503773  2016-12-15 20:13:00  0.542667
503774  2016-12-15 20:14:00  0.542483

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.017833
1       2016-01-01 00:01:00  0.017800
2       2016-01-01 00:02:00  0.018083
3       2016-01-01 00:03:00  0.018233
4       2016-01-01 00:04:00  0.018633
...                     ...       ...
503770  2016-12-15 20:10:00  3.111233
503771  2016-12-15 20:11:00  3.109967
503772  2016-12-15 20:12:00  2.188067
503773  2016-12-15 20:13:00  0.551783
503774  2016-12-15 20:14:00  0.551733

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  3.153683
1       2016-01-01 00:01:00  3.153067
2       2016-01-01 00:02:00  2.140817
3       2016-01-01 00:03:00  2.024083
4       2016-01-01 00:04:00  2.021900
...                     ...       ...
503770  2016-12-15 20:10:00  3.058817
503771  2016-12-15 20:11:00  3.059483
503772  2016-12-15 20:12:00  3.058217
503773  2016-12-15 20:13:00  3.057867
503774  2016-12-15 20:14:00  3.058083

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  1.674500
1       2016-01-01 00:01:00  1.675700
2       2016-01-01 00:02:00  1.676050
3       2016-01-01 00:03:00  1.677033
4       2016-01-01 00:04:00  1.679667
...                     ...       ...
503755  2016-12-15 19:55:00  2.570633
503756  2016-12-15 19:56:00  1.010200
503757  2016-12-15 19:57:00  1.014383
503758  2016-12-15 19:58:00  2.379367
503759  2016-12-15 19:59:00  3.666050

[503760 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.098967
1       2016-01-01 00:01:00  1.027767
2       2016-01-01 00:02:00  2.039233
3       2016-01-01 00:03:00  2.035350
4       2016-01-01 00:04:00  2.035033
...                     ...       ...
503755  2016-12-15 19:55:00  0.418933
503756  2016-12-15 19:56:00  0.416067
503757  2016-12-15 19:57:00  0.413383
503758  2016-12-15 19:58:00  0.412967
503759  2016-12-15 19:59:00  0.412700

[503760 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.101183
1       2016-01-01 00:01:00  0.101033
2       2016-01-01 00:02:00  0.101083
3       2016-01-01 00:03:00  0.101767
4       2016-01-01 00:04:00  0.101633
...                     ...       ...
503785  2016-12-15 20:25:00  4.619050
503786  2016-12-15 20:26:00  4.621867
503787  2016-12-15 20:27:00  3.204567
503788  2016-12-15 20:28:00  5.421083
503789  2016-12-15 20:29:00  7.361400

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.010833
1       2016-01-01 00:01:00  0.010983
2       2016-01-01 00:02:00  0.010933
3       2016-01-01 00:03:00  0.011000
4       2016-01-01 00:04:00  0.011033
...                     ...       ...
503785  2016-12-15 20:25:00  0.676717
503786  2016-12-15 20:26:00  1.031883
503787  2016-12-15 20:27:00  1.632500
503788  2016-12-15 20:28:00  1.912950
503789  2016-12-15 20:29:00  2.128150

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  3.134783
1       2016-01-01 00:01:00  3.140467
2       2016-01-01 00:02:00  3.140450
3       2016-01-01 00:03:00  3.145250
4       2016-01-01 00:04:00  3.148917
...                     ...       ...
503770  2016-12-15 20:10:00  3.374933
503771  2016-12-15 20:11:00  3.368050
503772  2016-12-15 20:12:00  3.367883
503773  2016-12-15 20:13:00  3.374200
503774  2016-12-15 20:14:00  3.364267

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  2.064217
1       2016-01-01 00:01:00  2.062233
2       2016-01-01 00:02:00  1.687700
3       2016-01-01 00:03:00  0.155900
4       2016-01-01 00:04:00  0.150667
...                     ...       ...
503785  2016-12-15 20:25:00  2.027067
503786  2016-12-15 20:26:00  2.002250
503787  2016-12-15 20:27:00  1.999367
503788  2016-12-15 20:28:00  1.997100
503789  2016-12-15 20:29:00  1.995817

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  2.154533
1       2016-01-01 00:01:00  2.168067
2       2016-01-01 00:02:00  2.161700
3       2016-01-01 00:03:00  2.162050
4       2016-01-01 00:04:00  1.577467
...                     ...       ...
503785  2016-12-15 20:25:00  1.573500
503786  2016-12-15 20:26:00  0.238400
503787  2016-12-15 20:27:00  0.093317
503788  2016-12-15 20:28:00  0.093250
503789  2016-12-15 20:29:00  0.093400

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.133000
1       2016-01-01 00:01:00  0.756917
2       2016-01-01 00:02:00  4.475867
3       2016-01-01 00:03:00  4.931883
4       2016-01-01 00:04:00  4.919383
...                     ...       ...
503785  2016-12-15 20:25:00  2.562683
503786  2016-12-15 20:26:00  2.563300
503787  2016-12-15 20:27:00  2.315850
503788  2016-12-15 20:28:00  0.008350
503789  2016-12-15 20:29:00  0.008317

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.820617
1       2016-01-01 00:01:00  0.820883
2       2016-01-01 00:02:00  0.821017
3       2016-01-01 00:03:00  0.821933
4       2016-01-01 00:04:00  0.823117
...                     ...       ...
503770  2016-12-15 20:10:00  2.647717
503771  2016-12-15 20:11:00  2.647950
503772  2016-12-15 20:12:00  2.646600
503773  2016-12-15 20:13:00  2.645750
503774  2016-12-15 20:14:00  2.645933

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.382017
1       2016-01-01 00:01:00  0.382017
2       2016-01-01 00:02:00  0.288933
3       2016-01-01 00:03:00  0.004100
4       2016-01-01 00:04:00  0.003817
...                     ...       ...
522610  2016-12-28 22:10:00  1.016050
522611  2016-12-28 22:11:00  0.405500
522612  2016-12-28 22:12:00  0.405233
522613  2016-12-28 22:13:00  0.405650
522614  2016-12-28 22:14:00  0.405367

[522615 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  4.747833
1       2016-01-01 00:01:00  2.143450
2       2016-01-01 00:02:00  0.028200
3       2016-01-01 00:03:00  0.028017
4       2016-01-01 00:04:00  0.027967
...                     ...       ...
503665  2016-12-15 18:25:00  3.242833
503666  2016-12-15 18:26:00  3.246850
503667  2016-12-15 18:27:00  3.249800
503668  2016-12-15 18:28:00  3.249350
503669  2016-12-15 18:29:00  3.250150

[503670 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  3.399767
1       2016-01-01 00:01:00  1.718383
2       2016-01-01 00:02:00  1.530033
3       2016-01-01 00:03:00  1.531183
4       2016-01-01 00:04:00  1.531783
...                     ...       ...
503785  2016-12-15 20:25:00  0.683150
503786  2016-12-15 20:26:00  0.683700
503787  2016-12-15 20:27:00  0.683317
503788  2016-12-15 20:28:00  0.682817
503789  2016-12-15 20:29:00  0.681700

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  1.881400
1       2016-01-01 00:01:00  0.204967
2       2016-01-01 00:02:00  0.013133
3       2016-01-01 00:03:00  0.012750
4       2016-01-01 00:04:00  0.012767
...                     ...       ...
503785  2016-12-15 20:25:00  4.996783
503786  2016-12-15 20:26:00  4.020867
503787  2016-12-15 20:27:00  1.225617
503788  2016-12-15 20:28:00  0.573500
503789  2016-12-15 20:29:00  0.573650

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.008133
1       2016-01-01 00:01:00  0.008283
2       2016-01-01 00:02:00  0.007917
3       2016-01-01 00:03:00  0.008017
4       2016-01-01 00:04:00  0.008017
...                     ...       ...
503770  2016-12-15 20:10:00  8.425183
503771  2016-12-15 20:11:00  9.771667
503772  2016-12-15 20:12:00  9.871400
503773  2016-12-15 20:13:00  9.177533
503774  2016-12-15 20:14:00  8.906433

[503775 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  3.080750
1       2016-01-01 00:01:00  3.082383
2       2016-01-01 00:02:00  3.062233
3       2016-01-01 00:03:00  1.772550
4       2016-01-01 00:04:00  0.061300
...                     ...       ...
503785  2016-12-15 20:25:00  1.793150
503786  2016-12-15 20:26:00  1.796083
503787  2016-12-15 20:27:00  1.800267
503788  2016-12-15 20:28:00  1.792667
503789  2016-12-15 20:29:00  1.792117

[503790 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.765983
1       2016-01-01 00:01:00  0.614600
2       2016-01-01 00:02:00  0.718450
3       2016-01-01 00:03:00  0.547533
4       2016-01-01 00:04:00  0.309783
...                     ...       ...
503755  2016-12-15 19:55:00  0.020717
503756  2016-12-15 19:56:00  0.020800
503757  2016-12-15 19:57:00  0.020767
503758  2016-12-15 19:58:00  0.020633
503759  2016-12-15 19:59:00  0.020467

[503760 rows x 2 columns],                        date     power
0       2016-01-01 00:00:00  0.624867
1       2016-01-01 00:01:00  0.624083
2       2016-01-01 00:02:00  0.621850

In [24]:
for i in range(len(apartDfs)):
  apartDfs[i] = apartDfs[i].loc[(apartDfs[i]['date'] > startDate) & (apartDfs[i]['date'] < endDate)]
  assert(len(apartDfs[i]) == len(apartDfs[0]))

In [26]:
# Aggregate data of all the apartment and include weather data
powerDf = pd.concat(apartDfs).groupby("date").sum().reset_index()

                      date       power
0      2016-02-01 00:00:00  204.949167
1      2016-02-01 00:01:00  211.420883
2      2016-02-01 00:02:00  210.705367
3      2016-02-01 00:03:00  189.122433
4      2016-02-01 00:04:00  172.700467
...                    ...         ...
44635  2016-03-02 23:55:00  262.237783
44636  2016-03-02 23:56:00  245.267083
44637  2016-03-02 23:57:00  243.642683
44638  2016-03-02 23:58:00  255.539467
44639  2016-03-02 23:59:00  259.251417

[44640 rows x 2 columns]