In [1]:
! pip install -r requirements.txt

Requirement already satisfied: seaborn in ./.venv/lib/python3.10/site-packages (from -r requirements.txt (line 1)) (0.13.2)
Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (from -r requirements.txt (line 2)) (2.2.2)
Requirement already satisfied: numpy in ./.venv/lib/python3.10/site-packages (from -r requirements.txt (line 3)) (2.0.1)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.10/site-packages (from -r requirements.txt (line 4)) (3.9.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 2)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.10/site-packages (from pandas->-r requirements.txt (line 2)) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.2.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (24.1)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.10/site-packages (from matplotlib->-r requirements.txt (line 4)) (3.1.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.16.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import glob
warnings.filterwarnings('ignore')

In [3]:
path =  "./data"
relPathApart =  f"{path}/apartment"
relPathWeather = f"{path}/apartment-weather"
year = 2016
aptNum = 114
startDate = '2016-02-01'
endDate = '2016-03-03'

In [4]:
! mkdir -p "./data"
! wget -nc "https://lass.cs.umass.edu/smarttraces/2017/apartment-electrical.tar.gz" -P "./data"
! wget -nc "https://lass.cs.umass.edu/smarttraces/2017/apartment-weather.tar.gz" -P "./data"

File ‘./data/apartment-electrical.tar.gz’ already there; not retrieving.

File ‘./data/apartment-weather.tar.gz’ already there; not retrieving.

In [5]:
! tar -xf "./data/apartment-electrical.tar.gz" -C "./data"
! tar -xf "./data/apartment-weather.tar.gz" -C "./data"

In [6]:
apartDfs = []
allFiles = glob.glob(f"{relPathApart}/{year}/*.csv")
for fileName in allFiles:
  df = pd.read_csv(fileName, parse_dates=[1], header=None, names=['date', 'power'])
  apartDfs.append(df)

print(apartDfs)

[                       date        power
0       2016-01-01 00:00:00  1.504383333
1       2016-01-01 00:01:00  1.505133333
2       2016-01-01 00:02:00  1.489983333
3       2016-01-01 00:03:00  1.487866667
4       2016-01-01 00:04:00      1.49255
...                     ...          ...
522610  2016-12-28 22:10:00       0.6538
522611  2016-12-28 22:11:00  0.654716667
522612  2016-12-28 22:12:00  0.655416667
522613  2016-12-28 22:13:00       0.6557
522614  2016-12-28 22:14:00  0.655083333

[522615 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00       0.5157
1       2016-01-01 00:01:00  1.291666667
2       2016-01-01 00:02:00  2.297633333
3       2016-01-01 00:03:00  2.298883333
4       2016-01-01 00:04:00       2.2964
...                     ...          ...
503785  2016-12-15 20:25:00  9.448016667
503786  2016-12-15 20:26:00  9.449933333
503787  2016-12-15 20:27:00  9.393133333
503788  2016-12-15 20:28:00  8.602283333
503789  2016-12-15 20:29:00  6.881683333

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00      2.62935
1       2016-01-01 00:01:00  2.628366667
2       2016-01-01 00:02:00  2.601333333
3       2016-01-01 00:03:00       2.0256
4       2016-01-01 00:04:00  0.053716667
...                     ...          ...
522610  2016-12-28 22:10:00  0.101483333
522611  2016-12-28 22:11:00  0.101216667
522612  2016-12-28 22:12:00        0.101
522613  2016-12-28 22:13:00  0.100466667
522614  2016-12-28 22:14:00  0.038783333

[522615 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00      0.68415
1       2016-01-01 00:01:00      0.68295
2       2016-01-01 00:02:00  0.682983333
3       2016-01-01 00:03:00  0.682383333
4       2016-01-01 00:04:00  0.682283333
...                     ...          ...
503770  2016-12-15 20:10:00  0.634416667
503771  2016-12-15 20:11:00  1.914166667
503772  2016-12-15 20:12:00       3.8377
503773  2016-12-15 20:13:00       4.7176
503774  2016-12-15 20:14:00  4.715683333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  7.557183333
1       2016-01-01 00:01:00  2.948683333
2       2016-01-01 00:02:00  2.954883333
3       2016-01-01 00:03:00      2.95785
4       2016-01-01 00:04:00  2.958983333
...                     ...          ...
503665  2016-12-15 18:25:00  1.592083333
503666  2016-12-15 18:26:00  1.594766667
503667  2016-12-15 18:27:00  1.596516667
503668  2016-12-15 18:28:00      1.59655
503669  2016-12-15 18:29:00  1.596966667

[503670 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.007833333
1       2016-01-01 00:01:00  0.007866667
2       2016-01-01 00:02:00  0.007783333
3       2016-01-01 00:03:00      0.00785
4       2016-01-01 00:04:00  0.008133333
...                     ...          ...
503755  2016-12-15 19:55:00      2.44045
503756  2016-12-15 19:56:00      2.44155
503757  2016-12-15 19:57:00  2.440966667
503758  2016-12-15 19:58:00      2.44205
503759  2016-12-15 19:59:00       2.4424

[503760 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.102033333
1       2016-01-01 00:01:00  0.086033333
2       2016-01-01 00:02:00  0.007583333
3       2016-01-01 00:03:00  0.007683333
4       2016-01-01 00:04:00       0.0076
...                     ...          ...
503755  2016-12-15 19:55:00      0.39225
503756  2016-12-15 19:56:00  0.392533333
503757  2016-12-15 19:57:00  0.391983333
503758  2016-12-15 19:58:00  0.391816667
503759  2016-12-15 19:59:00       0.3917

[503760 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00      0.42265
1       2016-01-01 00:01:00      0.52415
2       2016-01-01 00:02:00  0.540516667
3       2016-01-01 00:03:00  0.538866667
4       2016-01-01 00:04:00      0.54055
...                     ...          ...
503770  2016-12-15 20:10:00      3.13055
503771  2016-12-15 20:11:00  3.766883333
503772  2016-12-15 20:12:00      4.96055
503773  2016-12-15 20:13:00  4.516516667
503774  2016-12-15 20:14:00  4.721266667

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00      0.39155
1       2016-01-01 00:01:00  0.391716667
2       2016-01-01 00:02:00  0.391766667
3       2016-01-01 00:03:00       0.3924
4       2016-01-01 00:04:00  0.392933333
...                     ...          ...
503770  2016-12-15 20:10:00      3.20685
503771  2016-12-15 20:11:00  3.794183333
503772  2016-12-15 20:12:00  5.099933333
503773  2016-12-15 20:13:00  5.093366667
503774  2016-12-15 20:14:00  5.000183333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00      3.31225
1       2016-01-01 00:01:00  3.307983333
2       2016-01-01 00:02:00       3.2974
3       2016-01-01 00:03:00       3.2194
4       2016-01-01 00:04:00       1.6504
...                     ...          ...
503770  2016-12-15 20:10:00       3.1823
503771  2016-12-15 20:11:00  3.166116667
503772  2016-12-15 20:12:00  3.165366667
503773  2016-12-15 20:13:00       3.1667
503774  2016-12-15 20:14:00  3.118783333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  8.607766667
1       2016-01-01 00:01:00  8.890266667
2       2016-01-01 00:02:00  8.667133333
3       2016-01-01 00:03:00  7.768916667
4       2016-01-01 00:04:00  7.773016667
...                     ...          ...
503770  2016-12-15 20:10:00  0.642266667
503771  2016-12-15 20:11:00       0.6422
503772  2016-12-15 20:12:00  0.640183333
503773  2016-12-15 20:13:00       0.6387
503774  2016-12-15 20:14:00  0.546383333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  2.673683333
1       2016-01-01 00:01:00  2.669416667
2       2016-01-01 00:02:00  2.666316667
3       2016-01-01 00:03:00  2.667933333
4       2016-01-01 00:04:00      2.66955
...                     ...          ...
503785  2016-12-15 20:25:00  2.973333333
503786  2016-12-15 20:26:00  2.936083333
503787  2016-12-15 20:27:00  2.929683333
503788  2016-12-15 20:28:00  2.924533333
503789  2016-12-15 20:29:00  2.922166667

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  2.219116667
1       2016-01-01 00:01:00  2.219833333
2       2016-01-01 00:02:00  2.221433333
3       2016-01-01 00:03:00        2.227
4       2016-01-01 00:04:00  2.217883333
...                     ...          ...
503785  2016-12-15 20:25:00       3.2889
503786  2016-12-15 20:26:00  3.245533333
503787  2016-12-15 20:27:00  3.237266667
503788  2016-12-15 20:28:00  3.230433333
503789  2016-12-15 20:29:00       3.2269

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00       0.0307
1       2016-01-01 00:01:00      0.03075
2       2016-01-01 00:02:00  0.031066667
3       2016-01-01 00:03:00  1.219816667
4       2016-01-01 00:04:00  2.702916667
...                     ...          ...
503770  2016-12-15 20:10:00      0.84395
503771  2016-12-15 20:11:00  2.469283333
503772  2016-12-15 20:12:00  2.709633333
503773  2016-12-15 20:13:00      2.70385
503774  2016-12-15 20:14:00  4.925933333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.389116667
1       2016-01-01 00:01:00  0.390166667
2       2016-01-01 00:02:00  0.390433333
3       2016-01-01 00:03:00  0.390666667
4       2016-01-01 00:04:00       2.2918
...                     ...          ...
503785  2016-12-15 20:25:00  0.899066667
503786  2016-12-15 20:26:00  0.051983333
503787  2016-12-15 20:27:00      0.05215
503788  2016-12-15 20:28:00      0.05225
503789  2016-12-15 20:29:00  0.052216667

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00       0.5651
1       2016-01-01 00:01:00  0.069266667
2       2016-01-01 00:02:00  0.041333333
3       2016-01-01 00:03:00  0.041233333
4       2016-01-01 00:04:00  0.041116667
...                     ...          ...
503785  2016-12-15 20:25:00  2.731883333
503786  2016-12-15 20:26:00  4.960533333
503787  2016-12-15 20:27:00  4.951683333
503788  2016-12-15 20:28:00  4.918866667
503789  2016-12-15 20:29:00  4.935466667

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.620383333
1       2016-01-01 00:01:00  0.621066667
2       2016-01-01 00:02:00  1.992683333
3       2016-01-01 00:03:00       2.5367
4       2016-01-01 00:04:00  2.540216667
...                     ...          ...
503785  2016-12-15 20:25:00       4.9843
503786  2016-12-15 20:26:00       4.9879
503787  2016-12-15 20:27:00  4.997633333
503788  2016-12-15 20:28:00      4.39595
503789  2016-12-15 20:29:00  2.539733333

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  8.554016667
1       2016-01-01 00:01:00       9.0593
2       2016-01-01 00:02:00       8.7958
3       2016-01-01 00:03:00  8.963966667
4       2016-01-01 00:04:00  8.886533333
...                     ...          ...
503770  2016-12-15 20:10:00  1.218083333
503771  2016-12-15 20:11:00  2.523983333
503772  2016-12-15 20:12:00  2.211983333
503773  2016-12-15 20:13:00      5.06415
503774  2016-12-15 20:14:00  4.999566667

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  1.984466667
1       2016-01-01 00:01:00  1.988133333
2       2016-01-01 00:02:00      0.78495
3       2016-01-01 00:03:00  0.147166667
4       2016-01-01 00:04:00  0.146966667
...                     ...          ...
503770  2016-12-15 20:10:00  2.562816667
503771  2016-12-15 20:11:00  2.556766667
503772  2016-12-15 20:12:00  2.555366667
503773  2016-12-15 20:13:00  2.559133333
503774  2016-12-15 20:14:00  2.558116667

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.128866667
1       2016-01-01 00:01:00  0.128883333
2       2016-01-01 00:02:00  0.129016667
3       2016-01-01 00:03:00  0.128983333
4       2016-01-01 00:04:00  0.128983333
...                     ...          ...
503770  2016-12-15 20:10:00       0.7947
503771  2016-12-15 20:11:00      2.98615
503772  2016-12-15 20:12:00  2.981433333
503773  2016-12-15 20:13:00       2.4237
503774  2016-12-15 20:14:00  0.379983333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.027516667
1       2016-01-01 00:01:00      0.02775
2       2016-01-01 00:02:00  0.027733333
3       2016-01-01 00:03:00  0.027616667
4       2016-01-01 00:04:00  0.027516667
...                     ...          ...
503785  2016-12-15 20:25:00        0.633
503786  2016-12-15 20:26:00      0.57075
503787  2016-12-15 20:27:00       0.3974
503788  2016-12-15 20:28:00       0.8805
503789  2016-12-15 20:29:00  2.114233333

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  1.983483333
1       2016-01-01 00:01:00  1.983283333
2       2016-01-01 00:02:00  2.342566667
3       2016-01-01 00:03:00      2.38745
4       2016-01-01 00:04:00       2.3865
...                     ...          ...
503770  2016-12-15 20:10:00  1.248483333
503771  2016-12-15 20:11:00      1.24765
503772  2016-12-15 20:12:00  1.249116667
503773  2016-12-15 20:13:00  1.251383333
503774  2016-12-15 20:14:00       1.2498

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  3.914783333
1       2016-01-01 00:01:00  3.829583333
2       2016-01-01 00:02:00  3.886116667
3       2016-01-01 00:03:00  3.845866667
4       2016-01-01 00:04:00       3.4193
...                     ...          ...
503770  2016-12-15 20:10:00       0.5448
503771  2016-12-15 20:11:00      0.54285
503772  2016-12-15 20:12:00       0.5428
503773  2016-12-15 20:13:00  0.542666667
503774  2016-12-15 20:14:00  0.542483333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.017833333
1       2016-01-01 00:01:00       0.0178
2       2016-01-01 00:02:00  0.018083333
3       2016-01-01 00:03:00  0.018233333
4       2016-01-01 00:04:00  0.018633333
...                     ...          ...
503770  2016-12-15 20:10:00  3.111233333
503771  2016-12-15 20:11:00  3.109966667
503772  2016-12-15 20:12:00  2.188066667
503773  2016-12-15 20:13:00  0.551783333
503774  2016-12-15 20:14:00  0.551733333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  3.153683333
1       2016-01-01 00:01:00  3.153066667
2       2016-01-01 00:02:00  2.140816667
3       2016-01-01 00:03:00  2.024083333
4       2016-01-01 00:04:00       2.0219
...                     ...          ...
503770  2016-12-15 20:10:00  3.058816667
503771  2016-12-15 20:11:00  3.059483333
503772  2016-12-15 20:12:00  3.058216667
503773  2016-12-15 20:13:00  3.057866667
503774  2016-12-15 20:14:00  3.058083333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00       1.6745
1       2016-01-01 00:01:00       1.6757
2       2016-01-01 00:02:00      1.67605
3       2016-01-01 00:03:00  1.677033333
4       2016-01-01 00:04:00  1.679666667
...                     ...          ...
503755  2016-12-15 19:55:00  2.570633333
503756  2016-12-15 19:56:00       1.0102
503757  2016-12-15 19:57:00  1.014383333
503758  2016-12-15 19:58:00  2.379366667
503759  2016-12-15 19:59:00      3.66605

[503760 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.098966667
1       2016-01-01 00:01:00  1.027766667
2       2016-01-01 00:02:00  2.039233333
3       2016-01-01 00:03:00      2.03535
4       2016-01-01 00:04:00  2.035033333
...                     ...          ...
503755  2016-12-15 19:55:00  0.418933333
503756  2016-12-15 19:56:00  0.416066667
503757  2016-12-15 19:57:00  0.413383333
503758  2016-12-15 19:58:00  0.412966667
503759  2016-12-15 19:59:00       0.4127

[503760 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.101183333
1       2016-01-01 00:01:00  0.101033333
2       2016-01-01 00:02:00  0.101083333
3       2016-01-01 00:03:00  0.101766667
4       2016-01-01 00:04:00  0.101633333
...                     ...          ...
503785  2016-12-15 20:25:00      4.61905
503786  2016-12-15 20:26:00  4.621866667
503787  2016-12-15 20:27:00  3.204566667
503788  2016-12-15 20:28:00  5.421083333
503789  2016-12-15 20:29:00       7.3614

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.010833333
1       2016-01-01 00:01:00  0.010983333
2       2016-01-01 00:02:00  0.010933333
3       2016-01-01 00:03:00        0.011
4       2016-01-01 00:04:00  0.011033333
...                     ...          ...
503785  2016-12-15 20:25:00  0.676716667
503786  2016-12-15 20:26:00  1.031883333
503787  2016-12-15 20:27:00       1.6325
503788  2016-12-15 20:28:00      1.91295
503789  2016-12-15 20:29:00      2.12815

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  3.134783333
1       2016-01-01 00:01:00  3.140466667
2       2016-01-01 00:02:00      3.14045
3       2016-01-01 00:03:00      3.14525
4       2016-01-01 00:04:00  3.148916667
...                     ...          ...
503770  2016-12-15 20:10:00  3.374933333
503771  2016-12-15 20:11:00      3.36805
503772  2016-12-15 20:12:00  3.367883333
503773  2016-12-15 20:13:00       3.3742
503774  2016-12-15 20:14:00  3.364266667

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  2.064216667
1       2016-01-01 00:01:00  2.062233333
2       2016-01-01 00:02:00       1.6877
3       2016-01-01 00:03:00       0.1559
4       2016-01-01 00:04:00  0.150666667
...                     ...          ...
503785  2016-12-15 20:25:00  2.027066667
503786  2016-12-15 20:26:00      2.00225
503787  2016-12-15 20:27:00  1.999366667
503788  2016-12-15 20:28:00       1.9971
503789  2016-12-15 20:29:00  1.995816667

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  2.154533333
1       2016-01-01 00:01:00  2.168066667
2       2016-01-01 00:02:00       2.1617
3       2016-01-01 00:03:00      2.16205
4       2016-01-01 00:04:00  1.577466667
...                     ...          ...
503785  2016-12-15 20:25:00       1.5735
503786  2016-12-15 20:26:00       0.2384
503787  2016-12-15 20:27:00  0.093316667
503788  2016-12-15 20:28:00      0.09325
503789  2016-12-15 20:29:00       0.0934

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00        0.133
1       2016-01-01 00:01:00  0.756916667
2       2016-01-01 00:02:00  4.475866667
3       2016-01-01 00:03:00  4.931883333
4       2016-01-01 00:04:00  4.919383333
...                     ...          ...
503785  2016-12-15 20:25:00  2.562683333
503786  2016-12-15 20:26:00       2.5633
503787  2016-12-15 20:27:00      2.31585
503788  2016-12-15 20:28:00      0.00835
503789  2016-12-15 20:29:00  0.008316667

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.820616667
1       2016-01-01 00:01:00  0.820883333
2       2016-01-01 00:02:00  0.821016667
3       2016-01-01 00:03:00  0.821933333
4       2016-01-01 00:04:00  0.823116667
...                     ...          ...
503770  2016-12-15 20:10:00  2.647716667
503771  2016-12-15 20:11:00      2.64795
503772  2016-12-15 20:12:00       2.6466
503773  2016-12-15 20:13:00      2.64575
503774  2016-12-15 20:14:00  2.645933333

[503775 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.382016667
1       2016-01-01 00:01:00  0.382016667
2       2016-01-01 00:02:00  0.288933333
3       2016-01-01 00:03:00       0.0041
4       2016-01-01 00:04:00  0.003816667
...                     ...          ...
522610  2016-12-28 22:10:00      1.01605
522611  2016-12-28 22:11:00       0.4055
522612  2016-12-28 22:12:00  0.405233333
522613  2016-12-28 22:13:00      0.40565
522614  2016-12-28 22:14:00  0.405366667

[522615 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  4.747833333
1       2016-01-01 00:01:00      2.14345
2       2016-01-01 00:02:00       0.0282
3       2016-01-01 00:03:00  0.028016667
4       2016-01-01 00:04:00  0.027966667
...                     ...          ...
503665  2016-12-15 18:25:00  3.242833333
503666  2016-12-15 18:26:00      3.24685
503667  2016-12-15 18:27:00       3.2498
503668  2016-12-15 18:28:00      3.24935
503669  2016-12-15 18:29:00      3.25015

[503670 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  3.399766667
1       2016-01-01 00:01:00  1.718383333
2       2016-01-01 00:02:00  1.530033333
3       2016-01-01 00:03:00  1.531183333
4       2016-01-01 00:04:00  1.531783333
...                     ...          ...
503785  2016-12-15 20:25:00      0.68315
503786  2016-12-15 20:26:00       0.6837
503787  2016-12-15 20:27:00  0.683316667
503788  2016-12-15 20:28:00  0.682816667
503789  2016-12-15 20:29:00       0.6817

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00       1.8814
1       2016-01-01 00:01:00  0.204966667
2       2016-01-01 00:02:00  0.013133333
3       2016-01-01 00:03:00      0.01275
4       2016-01-01 00:04:00  0.012766667
...                     ...          ...
503785  2016-12-15 20:25:00  4.996783333
503786  2016-12-15 20:26:00  4.020866667
503787  2016-12-15 20:27:00  1.225616667
503788  2016-12-15 20:28:00       0.5735
503789  2016-12-15 20:29:00      0.57365

[503790 rows x 2 columns],                        date        power
0       2016-01-01 00:00:00  0.008133333
1       2016-01-01 00:01:00  0.008283333
2       2016-01-01 00:02:00  0.007916667
3       2016-01-01 00:03:00  0.008016667

In [7]:
for i in range(len(apartDfs)):
  apartDfs[i] = apartDfs[i].loc[(apartDfs[i]['date'] > startDate) & (apartDfs[i]['date'] < endDate)]

In [ ]:
# TODO Aggregate data of all the apartment and include weather data